h1 {
    border: 3px solid green;

}
.redb {
    border: 3px solid red;
    color:red;
    padding: 2em;
    margin-top: 1em;

}
.blueb {
    border: 4px dashed blue;
    padding: 1em;
    color: blue;
}
li {
    border: 3px dashed green;
    padding: 1em;
    margin-top: .5em;
}
.inLine li {
    display: inline;
    border: 3px dashed red;
}
.inlineBlock li {
    display: inline-block;
    border: 3px dashed blue;
}