*{
    box-sizing: border-box;
}

body {
    border: 1px dotted blue;
    width: 50em;
    margin: 1em auto;
    padding: 1em;
}

.bigL {
    float: left;
    font-size: 4em;
}

.imgR {
    float: right;
    width: 12em;
    padding-left: .5em;
}

.box {
    float: left;
    width: 50%;
    padding: 1em;
    border: solid 1px;
}
/*CLEARFIX*/
.group:before, .group:after {
    content:'';
    display: table;
}

.group {
    clear: both;
}